[submodule "Carthage/Checkouts/Hydra"]
	path = Carthage/Checkouts/Hydra
	url = https://github.com/malcommac/Hydra.git
[submodule "Carthage/Checkouts/tiny-core"]
	path = Carthage/Checkouts/tiny-core
	url = https://github.com/royhsu/tiny-core.git
